
<!-- PAGE 4 -->


<div class="page4 clearfix" id="page4">
    <h1>EDUCATION AND EXPERIENCE</h1>
    <div class="container-fluid py-5" id="qualification">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <h3 class="mb-4">My Education</h3>
            <div class="border-left border-primary pt-2 pl-4 ml-2">
              <div class="position-relative ex-me mb-4">
                <i class="far fa-dot-circle text-primary position-absolute"
                  style="top: 2px; left: -35px;  font-size: 22px;"></i>
                <h5 class="font-weight-bold mb-1">Bachelor of Technology(B.Tech)</h5>
                <p class="mb-2"><strong>Gurukul Kangri University</strong> | <small>Aug. 2018 -- Aug. 2022</small></p>
                <p>Stream: Computer Science and Engineering<br />S.G.P.A: 8.15/10.0 (Aggregate Till 4th semester)</p>
              </div>
              <div class="position-relative ex-me mb-4">
                <i class="far fa-dot-circle text-primary position-absolute"
                  style="top: 2px; left: -35px;  font-size: 22px;"></i>
                <h5 class="font-weight-bold mb-1">Class 10+2 (Intermediate)</h5>
                <p class="mb-2"><strong>DSSA School</strong> | <small>Apr. 2016 -- Jun. 2017</small></p>
                <p>PERCENTAGE: 86.00 %</p>
              </div>
              <div class="position-relative ex-me mb-4">
                <i class="far fa-dot-circle text-primary position-absolute"
                  style="top: 2px; left: -35px; font-size: 22px;"></i>
                <h5 class="font-weight-bold mb-1">Class 10 (High School)</h5>
                <p class="mb-2"><strong>Gyandeep Sr. Sec. School</strong> | <small>Apr. 2014 -- Jun. 2015</small></p>
                <p>PERCENTAGE: 94.00 %</p>
              </div>
  
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="mb-4">My Expericence</h3>
            <div class="border-left border-primary pt-2 pl-4 ml-2">
              <div class="position-relative ex-me mb-4">
                <i class="far fa-dot-circle text-primary position-absolute"
                  style="top: 2px;left: -35px;  font-size: 22px;"></i>
                <h5 class="font-weight-bold mb-1">Advance Machine Learning Intern</h5>
                <p class="mb-2"><strong>Indian Institute of Technology Bhubneshwar (IITBHU)</strong> |
                  <small>Jun. 2021 -- Aug. 2021</small></p>
                <p>Worked on the project Face detection and identification in a live video.</p>
              </div>
              <div class="position-relative ex-me mb-4">
                <i class="far fa-dot-circle text-primary position-absolute"
                  style="top: 2px;left: -35px;  font-size: 22px;"></i>
                <h5 class="font-weight-bold mb-1">Software Analyst Intern</h5>
                <p class="mb-2"><strong>Capgemini</strong> | <small>Jul. 2022</small></p>
                <p> • Define technical requirements,Design changes to an existing architecture,Scale on-premise system
                  infrastructure to thecloud,Reading and understanding code <br /> • Debugging algorithms,Unit testing
                  User Acceptance Testing,Securing the software development lifecycle (SDLC)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  