
<div class="page5" id="page5">
    <h1>PROJECTS</h1>
    <div class="projectwrapper">
      <div class="projects">
        <img src="{{url_for('static', filename='ss1.png')}}" align="middle" />
        <!-- <img src="public/images/ss1.png" /> -->
        <div class="overlay">
          <div class="text">
            face identification and recognition
          </div>
          <a href="https://github.com/KaushalPrajapat/face_identification_and_recognition/tree/main/Final_Project" target="_blank"><button class="viewprojectbutton">View
              Project</button></a>
        </div>
      </div>
      <div class="projects">
        <img src="{{url_for('static', filename='ss2.png')}}" align="middle" />
        <!-- <img src="images/ss2.png" /> -->
        <div class="overlay">
          <div class="text">
            
            <a href="https://github.com/KaushalPrajapat/python-todo" target="_blank">
              <button class="viewprojectbutton">TODO List</button></a>
          </div>
          <div>
            
          </div>
          <a href="https://todolist-test-js.herokuapp.com/" target="_blank">
            <button class="viewprojectbutton">View at Heroku</button></a>
        </div>
      </div>
      <div class="projects">
        <img src="{{url_for('static', filename='ss3.png')}}" align="middle" />
        <!-- <img src="images/ss3.png" /> -->
        <div class="overlay">
          <div class="text">
            Linux Commands Cheatsheet
          </div>
          <a href="https://github.com/KaushalPrajapat/Library_Managment-Using-C" target="_blank"><button
              class="viewprojectbutton">View Website</button></a>
        </div>
      </div>
    </div>
  </div>

  


<!-- 
  {% for item in skills %}
          <button type="button" class="btn ">{{item}}</button><br>
          <li><a href="{{ item.href }}">{{ item }}</a></li>
          {% endfor %} -->
